html{
    background-color: #e5e5e5;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    place-content: center;
    align-items: center;
}

.row{
    width: 90%;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
}

.container-info{
    width: 90%;
    padding: 10px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    place-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
}

img{
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}

h2{
    color: #020202;
    margin-bottom: 2%;
    margin: 1.5%;
}

h2:hover{
    color: rgb(218, 142, 151);
}

h5{
    color: #020202;
    margin-bottom: 1.5%;
    margin: 1%;
}

p{
    color: rgb(218, 142, 151);
    margin: 0;
}